<%= form_for @link do |f| %>
	<div class="form-group">
        <%= f.text_field :address, placeholder: "Enter a URL to shorten!", class: "text-form" %>
    </div>
        <%= f.submit "Shorten!", class: "btn btn-primary btn-color" %>
<% end %>